 /* start imports */
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
 
  /* end imports */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4em;
    background-color: #f2f2f2;
    color: #333;
    height: 100%;
}

img#logo {
    margin-top: 100px;
    width: 300px;
}

hr {
    margin: 2.3em 0;
}

ul.navbar-right > li > a {
    margin-right: 2em;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

ul.navbar-right > li > a:hover {
    text-decoration: none;
    text-shadow: 0 0 0.32px #333, 0 0 0.32px #333;

}

div.row div.col-sm-4 img {
    width: 100%;
}

.image-container {
    text-align: center;
}

.feature-img {
    width: 100%;
}

.display-4, .display-2 {
    margin-bottom: 0.7em;
}

.display-5 {
    font-weight: 700;
}
.card-title {
    font-weight: bold;
    text-transform: uppercase;
}

.row {
    margin-bottom: 2.5em;
}

.message {
    margin: 2em 0;
}

footer.footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    line-height: 70px;
    background-color: #f1f1f1;
    width: 100%;
}

footer.footer > div.container {
    padding-right: 15px;
    padding-left: 15px;
}

#maintenance-msg {
    padding: 0 1em 0 1em;
}

/* Bigger than smartphones media query */
@media screen and (min-width: 601px) {
    img#logo {
        width: 300px;
    }
    #maintenance-msg h2 {
        font-size: 1.7em;
    }
    #maintenance-msg {
        font-size: 1.2em;
    }
  }

/* Smartphone media queries */
@media screen and (max-width: 600px) {
    img#logo {
        width: 200px;
    }
    #maintenance-msg h2 {
        font-size: 1.5em;
    }
    #maintenance-msg {
        font-size: 0.8em;
    }
  }