/* Style sheet for index.html
 * Author: Clarenz James Caba
 * Date: April 15, 2017
 */

* {
    font-family: "Inconsolata";
}

body {
    max-height: 100%;
    min-height: 100%;
    background-color: #f2f2f2;
    font-size: 15px;
}

/* Main header */
#header-name {
    font-size: 3.25em;
    text-align: center;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

#header-name a {
    color: black;
    text-decoration: none;

}

#header-name a:visited {
    color: black;
}

#navbar {
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 1.05em;
}

#navbar a {
    font-size: 1.4em;
    text-align: left;
    float: center;
    padding: 0.25em;
    text-decoration: none;
}

#navbar a:hover {
    color: red;
}

#navbar a:visited {
    color: blue;
}

