/* Style sheet for index.html
 * Author: Clarenz James Caba
 * Date: April 15, 2017
 * Modified: April 7, 2018
 */

 /* start imports */

 @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');

 /* end imports */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 17px;
    background-color: #f2f2f2;
    color: #333;
    margin: 0 0;
    padding: 0;
    height: 100%;

}

#logo {
    position: relative;
    top: 8px;
}

/* START Main Header CSS */
#main-header {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 2.75em;    
    text-align: center;
    margin: 0;
    padding-top: 0.25em;
    color: #333;
}

#main-header a {
    color: #333;
    text-decoration: none;

}

#main-header a:visited {
    color: #333;
}

/* END Main Header CSS */

/* START nav CSS */

nav {
    background-color: #222;
    margin-top: 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    width: 100%;
}

nav ul {
    padding: 0;
    text-align: center;
}
nav li {
    display: inline;
    font-size: 1.4em;
    text-align: center;
    padding: 0.35em;
    margin: 1em;
    white-space: nowrap;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: #8baaff;
}

nav a:visited {
    color: white;
}

/* END nav CSS */

/* Redefine margining for the break*/
br {
    margin-bottom: 1em;
}

p {
    padding-bottom: 0.5em;
}

/* Start main section of page*/
.feature {
    background-color: #fff;
    max-width: 70em;
    max-height: auto;
    margin: 2.5em auto;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 2.5px #444;
}

article {
    text-align: left;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.article-header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.date-header {
    margin-top: 0.25em;
    font-weight: normal;
}

.content-text {
    margin: 0;
    text-align: justify;
}

/* Hotfix */
#spacing {
    padding-top: 2em;
    padding-bottom: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    height: 3.5em;
    width: 100%;
    background-color: #222;
}

footer ul {
    padding: 0;
    text-align: left;
    margin-bottom: 0;
}


footer li {
    position: absolute;
    bottom: 1em;
    display: inline;
    color: white;
    padding-left: 1em;
    font-weight: bold;
}

#github-brand {
    right: 1.5em;
    top: 0.7em;
}

#resume-items li {
    margin-bottom: 0.5em;
}

form {
    text-align: left;
    margin: auto;
    width: 96%;
    padding-bottom: 20px;
}

#email-area {
    margin-top: 1em;
    margin-bottom: 1em;
    resize: none;
    width: 100%;
    height: 100%;
}
